<!-- Two way data binding -->
<!--
<div>Componente Padre: {{counter}}</div>
<app-counter [counter]="counter" (counterChange)="counter = $event;"></app-counter>
<app-counter [(counter)]="counter"></app-counter>
-->

<!-- Directivas Estructurales -->

<!--
<button (click)="showInfo = !showInfo" >
  Mostrar
</button>

<div *ngIf="showInfo" >
  Información
</div>
-->

<!-- Directivas de Componente para hacer condiciones sin aumentar div -->

<!--
<ng-container *ngIf="items.length">
  <div *ngFor="let item of items" >
    {{ item.title }}
  </div>
</ng-container>

<div [ngSwitch]="dymanicStyle" >
  <div *ngSwitchCase="'red'" >REd</div>
  <div *ngSwitchCase="'blue'">Blue</div>
  <div *ngSwitchDefault>Default</div>
</div>

<br>
-->

<!-- Directivas de Atributo -->
<!--
<button (click)="dymanicClass = !dymanicClass" >
  Agregar clase container
</button>

<button (click)="dymanicStyle = 'red'" >
  Color rojo
</button>

<button (click)="dymanicStyle = 'blue'" >
  Color azul
</button>

<div [ngClass]="{ 'container': dymanicClass }" >
  <div
    [ngStyle]="{ 'background': dymanicStyle }"
    style="height: 100px; width: 100%; border: 1px solid;">

  </div>
</div>
-->



<app-header title="Inicio" color="primary"></app-header>

<div class="row">

  <div class="col-3">
    <app-side-bar [options]="menuOptions">
    </app-side-bar>
  </div>
  <div class="col-9 p-1">
    <router-outlet></router-outlet>
    <!--
    <app-content>
      <h2>{{ content }}</h2>
    </app-content>
    -->

  </div>

</div>

<!--
<app-footer></app-footer>
-->


