<div class="container">

  <div *ngFor="let post of posts">
    {{ post.title }}
  </div>

  <div class="row" >

    <div *ngFor="let product of products"
         class="col-12 col-sm-6 col-md-4" >

      <div class="card" style="width: 18rem;">
        <img [src]="product.img" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.price }}</p>
          <a [routerLink]="['/product', product.id]" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>

    </div>

  </div>

</div>
