/* You can add global styles to this file, and also import other style files */

// css
:root {
  --max-width-page: 1400px;

  .page {
    max-width: var(--max-width-page);
  }
}

// SASS
$color_white: white;
$heigth: 500px;

@mixin container() {
  background: $color_white;
  height: 100%;
  width: 100%;
}

.container {
  @include container;
}

.container-2 {
  @include container;
  padding: 10px;
  height: $heigth + 2px;
}

